name: "Deploy"

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0.2.1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Terraform apply
        uses: dflook/terraform-apply@v1
        with:
          path: my-terraform-config

      - name: Deploy cloud function
        id: deploy
        uses: google-github-actions/deploy-cloud-functions@v0.4.0
        with:
          name: helloworld
          runtime: python39
          entry_point: hello_world
          region: europe-west1
          source_dir: helloworld
          max_instances: 1
          timeout: 30

      - name: Smoke test
        run: curl "${{ steps.deploy.outputs.url }}"
