name: Lint

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:
  lint:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Terraform fmt-check
        uses: dflook/terraform-fmt-check@v1
        with:
          path: .